[init]
    templatedir = ~/.git_template
[include]
    path = /etc/git/.gitconfig.local
[core]
    legacyheaders = false
    quotepath = false
    autocrlf = input
    pager = less -RSFX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol,space-before-tab,tabwidth=4
    excludesfile = ~/.gitignore
[branch]
    autosetupmerge = always
    autosetuprebase = always
[apply]
    whitespace = fix
[advice]
    pushNonFastForward = false
    statusHints = false
[format]
    numbered = auto
[status]
    submodulesummary = true
#[column]
#    ui = auto
[rerere]
    enabled = true
    autoupdate = true
[repack]
    usedeltabaseoffset = true
[push]
    default = matching
[merge]
    log = true
    tool = vimdiff3
[mergetool]
    prompt = true
[mergetool "vimdiff3"]
    cmd = vim -f -d -c \"wincmd J\" -c \"wincmd =\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
    trustExitCode = true
[log]
    decorate = true
[help]
    autocorrect = 0
    format = man
[color]
    pager = true
    ui = true
    diff = auto
    status = auto
    branch = auto
[color "branch"]
    local = yellow
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[color "diff"]
	meta = yellow bold
	frag = magenta
	plain = white bold
	old = red
	new = green
	commit = yellow bold
	func = cyan bold
[alias]
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    lgs = log --stat --color --graph --pretty=format:'%Cred%h%Creset :: %ar :: %Cblue%ad%Creset :: %C(yellow)%s%Creset :: %Cgreen%an%Creset :: %Cblue%G?%Creset %n %N' --abbrev-commit
    lg = log --color --graph --pretty=format:'%Cred%h%Creset :: %ar :: %C(yellow)%s%Creset :: %Cgreen%an%Creset' --abbrev-commit
    shlg = shortlog -s -n
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff --word-diff
    ls = ls-files
    datetag = !git tag `date \"+%Y%m%d%H%M\"`
	poppers = !git log -M -C --format=\"format:%aN\" --grep \"Revert\" | sort | uniq -c | sort -n
    ctags = !.git/hooks/ctags
    unmerged = branch --no-merged
