! To save run xrdb -all ~/.Xresources
! === X f t ==================================================================
Xft.antialias: 1
Xft.autohint: 1
Xft.dpi: 144
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgba

! === U R x v t ==============================================================
URxvt*.cursorBlink: false
URxvt*.depth: 32
URxvt*.font: xft:Literation Mono Powerline:pixelsize=17:antialias=true:autohint=true:dpi=144
!URxvt*.inheritPixmap: true
URxvt*.internalBorder: 0
URxvt*.loginShell: true
URxvt*.mapAlert: true
URxvt*.pointerBlank: true
URxvt*.resource: value
URxvt*.termName: xterm-256color
URxvt*.urgentOnBell: true
URxvt*.cursorColor: #ebdbb2
URxvt*.skipBuiltinGlyphs:    true
!URxvt*.shading: 0
URxvt*.transparent:   false
URxvt*.buffered: true
URxvt*.jumpScroll: false
URxvt*.saveLines: 100000
URxvt*.scrollBar: false
URxvt*.scrollTtyKeypress: true
URxvt*.scrollTtyOutput: false
URxvt*.scrollWithBuffer: false
URxvt*.scrollstyle: plain
URxvt*.secondaryScroll: 0
URxvt*.secondaryScreen: 1

*background: #0B2027
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
